.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    /* background-color: #fff; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.navbar .logo {
    width: max(10%, 80px);
}

.navbar .profile {
    width: 40px;
}